# Delegate to markdown.snippets.  Because we used to use Ben William's mkd.vim for
# markdown support, we used 'mkd' as the filetype.  This is here to support
# someone accidentally setting the filetype to 'mkd'.
extends markdown
